/* цвет заголовков #212121*/
/* цвет основного текста #757575 */
/* белый цвет текста #FFFFFF */
/* акцент #2196F3 */
/* основной цвет фона #E5E5E5 */
/* вторичный цвет фона #F5F4FA */
/* серый #2F303A */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --second-accent-color: #ffffff;

  --primary-bg-color: #e5e5e5;
  --accent-bg-color: #2f303a;
  --first-bg-color: #f5f4fa;
  --second-bg-color: #ffffff;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  text-decoration: none;
}

/* -------------site-nav -------------------*/
.header-logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.header-nav .link {
  text-decoration: none;
}

.header-nav .link:hover,
.header-nav .link:focus {
  color: #2196f3;
}

.auth-nav .link {
  text-decoration: none;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: #2196f3;
}
.section-title {
  color: var(--title-text-color);
}
.header-link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.header-address {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* -----------------Герой-------------------- */
.hero {
  background-color: var(--accent-bg-color);
}

.hero-title {
  color: var(--second-accent-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
}

.button.primary {
  font-family: Roboto, sans-serif;
  color: var(--second-accent-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.button.primary:hover,
.button.primary:focus {
  color: var(--title-text-color);
  background-color: var(--first-bg-color);
}

/* -------------Особенности------------- */
.feature-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.feature-item {
  color: var(--primary-text-color);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* ---------------Чем мы занимаемся----------- */
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* -----------------Наша команда----------------- */
.section {
  background-color: #f5f4fa;
}
.command-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.command-discription {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/*---------------- Футер------------------ */

.footer-section {
  background-color: var(--accent-bg-color);
  color: var(--second-accent-color);
}
.footer-logo {
  color: var(--second-accent-color);
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.footer-nav {
  color: rgb(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-address {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-nav .link:hover,
.footer-nav .link:focus {
  color: #2196f3;
}

.about-address {
  color: var(--second-accent-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}
/* --------------Портфолио--------------- *
/* ------------- Наши работы ----------*/
.project-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-item {
  color: var(--primary-text-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.button.secondary {
  font-family: Roboto, sans-serif;
  color: var(--title-text-color);
  background-color: var(--first-bg-color);
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.button.secondary:hover,
.button.secondary:focus {
  color: var(--second-accent-color);
  background-color: var(--accent-color);
}
